@media only screen and (max-width: 992px) {
  .event-text li {
    max-width: 400px;
    font-size: 14px;
  }

  .headers {
    font-size: 1.1rem;
  }

  .prehistory-headlines {
    font-size: 1rem;
    margin-right: 10px;
    margin-left: 10px;
    width: 90%;
  }

  .logo-container {
    display: flex;
    position: absolute;
    justify-items: center;
    height: 100px;
    top: 5px;
    width: 100%;
  }

  .logo {
    width: 180px;
  }

  .ligmincha-seal {
    width: 70px;
  }

  .bubble {
    width: 10vmin;
    height: 4vmin;
    left: 44.6%;
  }

  .centuryid, .period {
    font-size: 12px;
  }
}


.popover {
  background-color: rgb(87, 70, 70);
  max-width: 600px;
}

.popover-body { width:600px; }

.popup-img {
  height: 110px;
  margin-right: 10px;
}

.popover-title {
  background-color: goldenrod;
  color: rgb(89, 66, 66);
}

.popup-detail {
  white-space: normal;
  color: goldenrod;
}

.popover-target {
  display: flex;
  color: goldenrod;
  width: 100%;
}

.sub-content {
  display: flex;
  flex-direction: column;
}

.sub-content .description {
  margin-bottom: 5px;
  margin-right: 20px;
}

.sub-content ul li a {
  color: skyblue;
}

.description {
  // width: 90%;
  // word-wrap: break-word;
}
