################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/timeline-api/timeline.api/bin/Debug/net6.0
