################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# e-api/timeline.api/bin/Debug/net6.0
*.suo
*.user
_ReSharper.*
bin
obj
packages
/timeline-api/.vs/timeline.api/FileContentIndex
/timeline-api/.vs/timeline.api/config/applicationhost.config
/timeline-api/.vs/timeline.api/DesignTimeBuild/.dtbcache.v2
timeline-api/.vs/timeline.api/v17/.futdcache.v1
timeline-api/.vs/ProjectEvaluation/timeline.api.metadata.v6.1
