@use '../../node_modules/@angular/material' as mat;
@include mat.core();

$mat-primary: (
  50 : #e8e8e8,
  100 : #c6c6c6,
  200 : #a1a0a0,
  300 : #7b7979,
  400 : #5e5d5d,
  500 : #424040,
  600 : #3c3a3a,
  700 : #333232,
  800 : #2b2a2a,
  900 : #1d1c1c,
  A100 : #f29975,
  A200 : #ee8047,
  A400 : #ff6602,
  A700 : #e85e00,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
    )
);

$mat-accent: (
  50 : #f6fdec,
  100 : #e9fbd0,
  200 : #dbf9b0,
  300 : #ccf690,
  400 : #c1f479,
  500 : #b6f261,
  600 : #aff059,
  700 : #a6ee4f,
  800 : #9eec45,
  900 : #8ee833,
  A100 : #ffffff,
  A200 : #fdfffb,
  A400 : #e2ffc8,
  A700 : #d5ffae,
    contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
    )
);

$mat-warn: (
    50 : #fff1eb,
    100 : #fedccd,
    200 : #fdc5ac,
    300 : #fcae8b,
    400 : #fc9c72,
    500 : #fb8b59,
    600 : #fa8351,
    700 : #fa7848,
    800 : #f96e3e,
    900 : #f85b2e,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffdcd3,
    A700 : #ffc7b9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);



/* Define dark theme */
$primary-dark: mat.define-palette($mat-primary, 300);
$accent-dark: mat.define-palette($mat-accent, A200, A100, A400);
$warn-dark: mat.define-palette($mat-warn);

$dark-theme: mat.define-dark-theme((
  color: (
    primary:$primary-dark,
    accent:$accent-dark,
    warn:$warn-dark
  )
));
@include mat.all-component-themes($dark-theme);

$body-background-color: mat.get-color-from-palette($mat-primary, 600);
$main-panel-background-color: mat.get-color-from-palette($mat-primary, 700);
$navbar-background-color: mat.get-color-from-palette($mat-primary, 600);
$navbar-border-color: mat.get-color-from-palette($mat-primary, 400);
$main-panel-content-background-color: mat.get-color-from-palette($mat-primary, 500);

$body-text-color:mat.get-color-from-palette($mat-accent,700);
$text-color-gold:mat.get-color-from-palette($mat-accent,A100);
$sub-text-color:mat.get-color-from-palette($mat-primary,200);

$event-title-text: mat.get-color-from-palette($mat-accent,200);
