// @use '@angular/material' as mat;

@import "./media-queries/iPad-air";
@import "./media-queries/iPad-mini";
@import "./media-queries/iPhone-XR";

@import 'variables';

html,
body {
  height: 100%;
  min-height: 100vh;
  color: rgb(158, 135, 52);// $text-color-gold;
  // background-color: rgba(44, 37, 29, 0.845);
  background-color: rgb(44, 37, 29);
  background-size: cover;
}

mat-toolbar a {
  text-decoration: none;
}

mat-toolbar a:hover {
  background-color: rgba(194, 160, 65, 0.207);
  border: solid 1px goldenrod;
  color: rgb(70, 45, 31);
}


// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
//   background-color: $body-background-color;
// }

// :root {
//   font-size: 16px;
// }


// .navbar {
//   background-color: 'red';// $navbar-background-color;
//   border-bottom: $navbar-border-color solid 1px;
// }

// .main-panel {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   height: 100%;
//   width: 80vw;
//   background-color: $main-panel-background-color;
// }

// .prehistory-data ul{
//   list-style: none;
// }
// .prehistory-data li{
//   display: inline;
//   color: $sub-text-color;
//   font-size: 1.4rem;
// }

/** Copied over */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  height: 100px;
  top: 22px;
  position: absolute;
  justify-content: center;
  width: 100%;
  left: 10px;
}

.prehistory {
  justify-content: flex-end;
}

// body {
//   background-color: rgb(48, 35, 35);
// }

.ligmincha-seal {
  width: 100px;
  margin: 20px;
  justify-self: flex-end;
}

.logo {
  // display: flex;
  position: absolute;
  // top:20px;
  // left: 42%;
  width: 170px;
}

#container {
  display: flex;
  justify-content: center;
  margin-left: 7%;
  // margin-right: 10%;
  flex-direction: column;
  background-image: url("../assets/papyrus.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
  // z-index: -1;
  width: 85%;
  position: absolute;
  box-shadow: inset 0 0 20px #161313;
}

.prehistory-headlines {
  font-size: 1rem;
}

.headers-container {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  top:30vmin;
  left: 10px;
  width: 100%;
}

.headers {
  display: flex;
  justify-content: center;
  top: 100vmin;
  font-size: 1.5rem;
  color: rgb(239, 18, 18);
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom-style: double;
  border-bottom-width: 4px;
  text-align: center;
  opacity: 0.7;
}

.header-timeline {
  color:rgb(30, 3, 3);
  margin-left: 5px;
}

.canvas {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height:100%;
  top:30vmin;
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: col;
  width: 100%;
  height: 100%;
}

.bubble {
  position: absolute;
  display: flex;
  justify-items: center;
  color: rgb(28, 21, 21);
  justify-content: center;
  align-items: center;
  left: 47%;
  width: 10vmin;
  height: 6vmin;
  border-radius: 50%;
  background: goldenrod;
  border: solid 1px red;// rgb(75, 22, 22);

  z-index:2;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

.centuryid, .year {
  color:red;
  // font-weight: 00;
  margin-right:2px;
}
.period {
  color:black;
}

.horizontal-line {
  content: "";
  display: flex;
  position: absolute;
  width: 100%;
  align-self: center;
  left: 0vmin;
  height: 2px;
  opacity: 0.2;
  z-index: 1;
  background-color: red;
}

.vertical-line-header, .vertical-line {
  content: "";
  position: absolute;
  z-index: -1;
  // opacity: 0.4;
}

.vertical-line-header {
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 1vmin;
}

.vertical-line-up-arrow {
  position: absolute;
  // top: 1vmin;
  font-size: 24px;
  left: 50%;
  width: 2px;
}

.older-text {
  top: 2vmin;
  left: 48%;
  position: absolute;
}

.older-arrow {
  top: 0vmin;
  left: 49%;
  position: absolute;
}

.vertical-line {
  display: flex;
  flex-direction: column;
  width: 0.5px;
  height: 400px;
  // height: 200vmin;
  z-index:1;
  top: 6vmin;
  left: 50%;
  // opacity: 0.4;
  // color:rgb(138, 89, 89);
  background-color: rgb(140, 63, 63);
}

// .tibet-timeline {
//   content: "";
//   position: absolute;
//   width: 83vmin;
//   height: 200vmin;
//   opacity: 0.2;
//   background-color: gray;
// }

// .tibet-century-background {
//   content: "";
//   display: flex;
//   position: absolute;
//   width: 100%;
//   align-self: center;
//   left: 0vmin;
//   height: 1px;
//   opacity: 0.1;
//   z-index: -1;
// }

// .world-century-background {
//   content: "";
//   display: flex;
//   position: absolute;
//   width: 100%;
//   align-self: center;
//   left: 83vmin;
//   height: 1px;
//   opacity: 0.2;
//   z-index: -1;
// }

// .event-detail {
//   position: absolute;
//   left: 7vmin;
//   width: 500px;
//   display: inline-block;
//   font-size: 1.1rem;
// }

// .event-detail:hover {
//   cursor: pointer;
// }

.event-text {
  display: flex;
  position: absolute;
  margin-left: 0px;
  flex-direction: column;
  width: 100%;
}
.event-text li {
  width: 100vw;
  margin-top: 4px;
  margin-bottom: 4px;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
  // opacity: 0.8;

  &:hover {
    color: red;
    cursor: pointer;
  }
}

.zero-century {
  display: flex;
  position: absolute;
  justify-self: center;
  width: 100%;
  height: 2px;
  background-color: rgb(64, 47, 47);
  opacity: 0.2px;
}

.use-reset {
  top: 0vmin;
}

.popover {
  background-color: rgb(87, 70, 70);
  max-width: 500px;
}
.popover-body { width:500px; }

.popup-img {
  height: 110px;
  margin-right: 10px;
}

.popover-title {
  background-color: goldenrod;
}

.popup-detail {
  white-space: normal;
  color: goldenrod;
}

.popover-target {
  display: flex;
  color: goldenrod;
}

.sub-content {
  display: flex;
  flex-direction: column;
}

.sub-content .description {
  margin-bottom: 5px;
  margin-right: 20px;
}

.sub-content ul li a {
  color: skyblue;
}



