<mat-dialog-content>
  <h4 class="text-center">New Event</h4>
  <div class="card">
    <div class="card-body">
      <form novalidate (ngSubmit)="save()" [formGroup]="eventEntryForm">
        <div class="form-group row mt-1">

          <!-- Title Input -->
          <div class="col-md-5">
            <label class="col-form-label" for="titleId">Title</label>
            <input class="form-control" id="titleId" type="text" placeholder="Title (required)" formControlName="title"
              name="title" />
          </div>

        <!-- Description -->
        <div class="col-md-7 flex-item">
          <label class="col-form-label" for="description">Description</label>
          <textarea class="form-control" id="description" type="text" placeholder="Description (required)" formControlName="description"
            name="description"></textarea>
        </div>




        </div>
        <div class="form-group row mt-2">
        <!-- EventTypeId -->
        <!-- <div class="col-md-2 flex-item">
          <label class="col-form-label" for="event-type">Event Type</label>
          <select class="form-select" formControlName="event-type">
            <option value="Tibet">Tibet</option>
            <option value="India">India</option>
            <option value="China">China</option>
          </select>
        </div> -->

                  <!-- Era Select -->
                  <div class="col-md-2 flex-item">
                    <label class="col-form-label" for="eraId">Era</label>
                    <select class="form-select" formControlName="era">
                      <option value="AD">A.D.</option>
                      <option value="BC">B.C.</option>
                    </select>
                  </div>

                  <!-- Year Input -->
                  <div class="col-md-2 flex-item">
                    <label class="col-form-label" for="yearId">Year</label>
                    <input class="form-control" id="yearId" type="text" placeholder="Year (required)" formControlName="year"
                      name="year" />
                  </div>

                <!-- Event Date -->
                <div class="col-md-2 flex-item pt-3">
                <mat-form-field>
                  <mat-label>Date (optional)</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="eventDate">
                  <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              </div>
              <div class="form-group row mt-2">
                <!-- Country -->
                <div class="col-md-2 flex-item">
                  <label class="col-form-label" for="country">Country</label>
                  <select class="form-select" formControlName="country">
                    <option value="Tibet">Tibet</option>
                    <option value="India">India</option>
                    <option value="China">China</option>
                  </select>
                </div>

              <!-- ImageUrl Input -->
            <div class="col-md-5">
              <label class="col-form-label" for="imageUrl">Image Url</label>
              <div class="input-group">

                <input class="form-control mr-5" id="imageUrl" type="text" placeholder="Image Url" formControlName="imageUrl"
                  name="imageUrl" />
                  <button mat-mini-fab color="primary" class="pl-5 add-button" (click)="addImageUrl($event)"><mat-icon>add</mat-icon></button>
              </div>
            </div>

            <!-- References Input -->
            <div class="col-md-5">
              <label class="col-form-label" for="references">Reference</label>
              <div class="input-group">
                <input class="form-control mr-5" id="reference" type="text" placeholder="Reference" formControlName="reference"
                  name="reference" />
                  <button mat-mini-fab color="primary" class="pl-5 add-button" (click)="addReference($event)"><mat-icon>add</mat-icon></button>
              </div>
            </div>
        </div>
        <div class="form-group row mb-2">
          <div class="col-md-2 mt-5">
            <button mat-raised-button color="primary" class="text-center" type="submit" [title]="
                eventEntryForm.valid
                  ? 'Save your entered data'
                  : 'Disabled until the form data is valid'
              " [disabled]="!eventEntryForm.valid" mat-dialog-close>
                <mat-icon>save</mat-icon>Save
            </button>
          </div>

          <!-- Image Urls  -->
        <div class="col-md-5">
          <ul>
            <li *ngFor="let url of imageUrls">{{ url }}</li>
          </ul>
        </div>
        <!-- References  -->
        <div class="col-md-5">
          <ul>
            <li *ngFor="let ref of eventReferences">{{ ref }}</li>
          </ul>
        </div>
        </div>
      </form>
    </div>
  </div>

  <!-- <br />Dirty: {{ eventEntryForm.dirty }} <br />Touched:
  {{ eventEntryForm.touched }} <br />Valid: {{ eventEntryForm.valid }}
  <br />Value: {{ eventEntryForm.value | json }} -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" class="mr-5 mb-3" mat-dialog-close>Close</button>
</mat-dialog-actions>
