.app-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  display: grid;
  place-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

/* span.title {
  color: white;
  font-size: 2rem;
  opacity: 0.5;
  font-weight: 600;
} */

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo {
  width: 16rem;
  margin-top: .5rem;
  filter: drop-shadow(0.15rem 0.15rem 0.4rem rgba(0, 0, 0, 0.5));
}

#lightbulb {
  font-size: 40px;
  height: 50px;
  width: 60px;
}

