


<div id="container">
  <div class="logo-container" class="row">
    <div class="col">
      <img class="ligmincha-seal" src="../assets/ligmincha-seal.jpg" alt="">
    </div>
    <div class="col logo-container">
      <img class="logo" src="../assets/2X2 ylylogo.png" alt="">
    </div>
  </div>
  <div class="headers-container row">
    <div class="row">
      <div class="col text-center"><span class="prehistory-headlines">Denisovans roamed Tibet 150,000 years ago | Modern humans roamed Tibet 50,000 years ago</span></div>
    </div>
    <div class="headers col col-md-6">Tibet <span class="header-timeline">Timeline</span></div>
    <div class="headers col col-md-6">World <span class="header-timeline">Timeline</span></div>
  </div>
  <div class="canvas">
    <ng-template #popTemplate let-event="event"><div class="popover-target" >
      <img class="popup-img" [src]="event.images[0]?.imageUrl">
      <div class="sub-content">
        <!-- <div>Description:</div> -->
        <div class="ml-3 mb-2 description">{{ event.description }}</div>
        <div *ngIf="event.references?.length > 0">
          References:
          <ul class="references">
            <li *ngFor="let ref of event.references"><a [href]="ref.url" target="_blank" class="link-in-popup">{{ ref.url}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>

    <div class="timeline">
      <span class="older-text">Earlier</span>
      <i class="fas fa-arrow-up older-arrow"></i>
        <div *ngFor="let timeline of timelines; let i=index" id="index">
          <!-- Vertical center line -->
          <div class="vertical-line" [ngStyle]="getVerticalLineLength()">
          </div>
          <ng-container *ngIf="timeline?.events?.length > 0">
            <!-- Bubbles -->
            <ng-container *ngIf="timeline.centuryId != 1; else zeroCentury">
              <div class="bubble" [style.top]="getBubbleTopPosition(timeline.era, timeline.centuryId, i)">
                <ng-container *ngIf="timeline.centuryId != 1; else firstCentury">
                  <span class="centuryid">{{ timeline.centuryId }}</span>
                  <span class="period">{{timeline.era}}</span>
                </ng-container>
                <ng-template #firstCentury>
                  <div>1</div>
                  <div class="bubble" [style.top]="getBubbleTopPosition(timeline.era, timeline.centuryId, i)">

                    <span>{{ timeline.centuryId }}</span>
                    <div class="period-divider horizontal-line" [style.top]="getHorizontalLinePosition(timeline, i)"></div>
                  </div>
                </ng-template>
              </div>
              <!-- Horizontal century line -->
            <div class="horizontal-line" [style.top]="getHorizontalLinePosition(timeline, i)">
            </div>
            </ng-container >
            <ng-template #zeroCentury>
              <div class="bubble" [style.top]="getBubbleTopPosition(timeline.era, timeline.centuryId, i)">
                <span>{{ timeline.centuryId }}</span>
                <div class="period-divider horizontal-line" [style.top]="getHorizontalLinePosition(timeline, i)"></div>
              </div>
            </ng-template>

            <!-- Events -->
            <div *ngIf="timeline?.events?.length > 0">
              <ul class="event-text">
                  <li class="event-item" *ngFor="let ev of getEvents(timeline.era, timeline.centuryId); let idx=index"  [popover]="popTemplate" [outsideClick]="true" popoverTitle="{{ev.year}} {{ev.era}}  - {{ev.title}}" [popoverContext]="{ event: ev }" [ngStyle]="getEventTextPosition(timeline.era, ev, timeline.events.length, i, idx)">
                    <ng-container *ngIf="hasEvent">
                      <span class="year">{{ ev.year }}</span>
                      <span class="era">{{ ev.era }} - </span>
                      <span class="title">{{ ev.title }} - </span>
                      <span class="country">{{ ev.countryName}}</span>
                    </ng-container>
                </li>
              </ul>
            </div>
          </ng-container>
      </div>
    </div>
  </div>
</div>

