
<!-- <mat-card class="main-panel-content">
  <mat-card-content>
    <ul class="legend nav">
      <li class="legend-header">Legend:</li>
      <li class="legend-tibet">Tibet Events |&nbsp;</li>
      <li class="legend-world">World Events</li>
    </ul>
  </mat-card-content>
</mat-card> -->

<div *ngIf="isReady" class="timeline">
  <!-- <div>{{ eventsList | json }}</div><div>canvasHeight {{ canvasHeight }}</div> -->
  <canvas #myCanvas id="canvas" [height]="canvasHeight" [width]="canvasWidth"></canvas>
</div>

