/* .prehistoric-data, .timeline {
  padding-top: 10px;
  padding-left: 10px;
}

.prehistoric-data {
  display: flex;
  justify-items: center;
  flex-direction: column;
  color: white;
  /* background-color: rgb(187, 210, 232); */
  /* margin-top: 0px;
  width: 80%; */

  /* margin-bottom: 0px; */
  /* border-bottom: solid 2px rgb(255, 255, 255); */
  /* color: rgb(49, 49, 105); */
  /* font-size: 14px; */
/* } */

.timeline {
  /* width: 600px; */
  /* border: solid 1px royalblue; */
  /* margin-top: 0px; */
  /* width:100%;
  display: flex;
  justify-content: center; */
}

.legend  {
  font-size: 18px;
  /* padding-top: 40px;
  padding-bottom: 10px; */
  /* margin-top: 0px; */
  /* width: 80%; */
  display: flex;
  justify-content: center;
  /* border-bottom: solid 1px gray; */
  /* background-color: rgb(190, 237, 237); */
}

.legend-header {
  color: rgb(224, 235, 229);
  /* padding-left: 10px; */
  /* padding: 10px; */
  font-weight: 500;
}

.legend-tibet {
  color: rgb(113, 208, 193);
}

.legend-world {
  color: rgb(238, 150, 150);
}

.legend-world {
  /* margin-left: 8px; */
}

#canvas {
  background-color: rgb(36, 35, 35);
  padding-left:10%;
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}


