<p>timeline works!</p>
<div class="title">
  <h2>Tibet History Timeline</h2>
</div>

<div class="prehistoric-data">
  <h4>Prehistoric Scientific Data</h4>
  <ul>
    <li>Denisovans roamed Tibet 150,000 years ago</li>
    <li>Modern humans roamed Tibet 50,000 years ago</li>
  </ul>
</div>
<div class="legend">
<span class="legend-header">Legend:</span>
<span class="legend-tibet">Tibet Events |</span>
<span class="legend-world">World Events</span>
</div>
<div *ngIf="isReady" class="timeline">
  <div>{{ eventsList | json }}</div><div>canvasHeight {{ canvasHeight }}</div>
  <canvas #myCanvas id="canvas" [height]="canvasHeight" width="1000"></canvas>
</div>
